body{
    background-color:darkslateblue;
}
h1{
    text-align: center;
    font-family: Copperplate, Papyrus, fantasy;
    font-size: 100px;
    color: azure;
}
h2{
    text-align: center;
    font-family: Copperplate, Papyrus, fantasy;
    font-size: 50px;
    color: white;
}
figure {
       margin: 0;
       color: whitesmoke;
       text-align: center;
}